{
  "presets": [
    "latest",
    "stage-0"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "./build/ol-to-openlayers-transform.js"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
